/* Font Sources */
@font-face {
    font-family: "Lora";
    src: url('./fonts/Lora-VariableFont.ttf') format('truetype');
}

@font-face {
    font-family: "Inter";
    src: url('./fonts/Inter-VariableFont.ttf') format('truetype');
}

@font-face {
    font-family: "Inconsolata";
    src: url('./fonts/Inconsolata-VariableFont.ttf') format('truetype');
}

/* Root Variables */
:root {
    --Primary-Shade: hsl(274, 82%, 60%);
    --Error-Shade: hsl(0, 100%, 66%);
}

/* Theme Styles */
[data-theme="light"] {
    --Primary-Text-Color: hsl(0, 0%, 18%);
    --Secondary-Text-Color: hsl(0, 0%, 51%);
    --Primary-Background-Color: hsl(0, 0%, 100%);
    --Secondary-Background-Color: hsl(0, 0%, 96%);
    --Shadow-Color: 1px 1px 11px hsla(0, 0%, 0%, 0.102);
    --Divider-Shade: hsl(0, 0%, 91%);
}

[data-theme="dark"] {
    --Primary-Text-Color: hsl(0, 0%, 100%);
    --Secondary-Text-Color: hsl(210, 3%, 45%);
    --Primary-Background-Color: hsl(0, 0%, 2%);
    --Secondary-Background-Color: hsl(0, 0%, 12%);
    --Shadow-Color: 1px 1px 11px hsla(0, 0%, 100%, 0.102);
    --Divider-Shade: hsl(0, 0%, 23%);
}

/* Font Styles */
[data-font="serif"] {
    font-family: "Lora";
}

[data-font="sans-serif"] {
    font-family: "Inter";
}

[data-font="monospace"] {
    font-family: "Inconsolata";
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--Primary-Background-Color);
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--Primary-Shade);
    border-radius: 7.5px;
}

.dictionary {
    min-height: 100vh;
    max-width: 768px;
    margin: auto;
    padding: 2rem .8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    background-color: var(--Primary-Background-Color);
}

header {
    height: fit-content;
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.7rem;
}

.dropdown {
    height: 100%;
    position: relative;
    cursor: pointer;
}

.dropdown::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -13px;
    transform: translateY(-50%);
    height: 39px;
    width: 1.3px;
    background-color: var(--Divider-Shade);
    cursor: default;
}

.dropdown .title #active-font {
    color: var(--Primary-Text-Color);
    font-size: 1.15rem;
    font-weight: 600;
}

.dropdown .title img {
    margin-left: .2rem;
    scale: .8;
    transition: .3s;
}

.rotate {
    transform: rotate(-180Deg);
}

.font-list {
    min-width: 8rem;
    position: absolute;
    top: -100vh;
    left: 50%;
    transform: translateX(-50%);
    transition: .4s;
    background-color: var(--Primary-Background-Color);
    box-shadow: var(--Shadow-Color);
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .6rem;
}

.drop {
    top: 2rem;
}

.font-list li {
    list-style: none;
    color: var(--Primary-Text-Color);
    font-size: 1.15rem;
    font-weight: 600;
    transition: .2s;
}

.font-list li:hover {
    color: var(--Primary-Shade);
}

.font-list li:last-child {
    font-size: 1rem;
}

.theme-section {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

.theme-bar {
    height: 1.2rem;
    width: 2.5rem;
    border-radius: 1rem;
    background-color: var(--Secondary-Text-Color);
    position: relative;
    cursor: pointer;
}

.theme-bar::before {
    content: "";
    height: 15px;
    width: 15px;
    position: absolute;
    top: 50%;
    left: 7.2%;
    transform: translateY(-50%);
    transition: .2s;
    border-radius: 50%;
    background-color: #FFF;
    z-index: 1;
}

.toggle-theme {
    background-color: var(--Primary-Shade);
}

.toggle-theme::before {
    left: 52.8%;
}

.theme-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.search-bar {
    width: 100%;
    margin: 1.8rem 0 .7rem;
    padding: 1rem 1.8rem;
    border-radius: .8rem;
    background-color: var(--Secondary-Background-Color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .2s ease-out;
    border: 1px solid transparent;
    cursor: text;
}

.search-bar:hover {
    border: 1px solid var(--Primary-Shade);
}

.apply-border {
    border: 1px solid var(--Primary-Shade);
}

#search-box {
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--Primary-Text-Color);
    font-size: 1rem;
    font-weight: 600;
    caret-color: var(--Primary-Shade);
}

#search-box::placeholder {
    color: var(--Secondary-Text-Color);
    font-weight: 500;
}

#search-btn {
    scale: 1.1;
    transition: .2s;
    cursor: pointer;
}

#search-btn:hover {
    scale: 1.2;
}

main {
    margin: 0 auto;
    width: 98%;
}

.phonetics {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

#word {
    color: var(--Primary-Text-Color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: .4rem;
}

#phonetic {
    color: var(--Primary-Shade);
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: -.5px;
}

#audio-btn {
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}

#audio-btn img {
    height: 100%;
    width: 100%;
}

fieldset {
    border: 0;
    border-top: 1px solid var(--Divider-Shade);
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}

legend {
    font-size: 1.4rem;
    font-weight: 700;
    padding-right: 1.6rem;
    color: var(--Primary-Text-Color);
}

fieldset .title {
    color: var(--Secondary-Text-Color);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

fieldset ul {
    margin-left: 2.5rem;
}

fieldset li::marker {
    color: var(--Primary-Shade);
    font-size: .85rem;
}

.definitions div {
    font-size: 1rem;
    line-height: 1.2;
}

.definition {
    color: var(--Primary-Text-Color);
    margin-top: 0.7rem;
}

.example {
    color: var(--Secondary-Text-Color);
    margin-top: 0.4rem;
}

article:has(.synonyms, .antonyms) {
    margin-top: 1.5rem;
    display: flex;
    gap: 2rem;
}

article :is(.synonyms, .antonyms) {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

article :is(.synonym, .antonym) {
    color: var(--Primary-Shade);
    font-weight: 700;
}

footer {
    margin: 1.5rem auto 0;
    width: 98%;
    color: var(--Secondary-Text-Color);
    font-size: .95rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .75rem;
    border-top: 1px solid var(--Divider-Shade);
    padding-top: 1rem;
}

#source-url {
    color: var(--Primary-Text-Color);
    font-size: .95rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    transition: .2s;
}

#source-url:hover {
    color: var(--Primary-Shade);
}

.welcome-page {
    color: var(--Primary-Text-Color);
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#error-box {
    height: fit-content;
    max-width: 280px;
    padding: 1rem;
    border-radius: .5rem;
    color: var(--Primary-Text-Color);
    background-color: var(--Secondary-Background-Color);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

@media (width<=425px) {
    .phonetics {
        justify-content: space-evenly;
    }

    #audio-btn {
        height: 3.5rem;
        width: 3.5rem;
    }

    fieldset {
        margin-top: 1.2rem;
        padding-top: 1.2rem;
    }

    fieldset ul {
        margin-left: 1.5rem;
    }
}

@keyframes ldio-feb1eidkeg {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.ldio-feb1eidkeg div {
    left: 49.35px;
    top: 25.200000000000003px;
    position: absolute;
    animation: ldio-feb1eidkeg linear 1s infinite;
    background: #fe718d;
    width: 6.300000000000001px;
    height: 12.600000000000001px;
    border-radius: 3.1500000000000004px / 6.300000000000001px;
    transform-origin: 3.1500000000000004px 27.3px;
}

.ldio-feb1eidkeg div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #fe718d;
}

.ldio-feb1eidkeg div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #f47e60;
}

.ldio-feb1eidkeg div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #f8b26a;
}

.ldio-feb1eidkeg div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #abbd81;
}

.ldio-feb1eidkeg div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #849b87;
}

.ldio-feb1eidkeg div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #6492ac;
}

.ldio-feb1eidkeg div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #637cb5;
}

.ldio-feb1eidkeg div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #6a63b6;
}

.ldio-feb1eidkeg div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #fe718d;
}

.ldio-feb1eidkeg div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #f47e60;
}

.ldio-feb1eidkeg div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #f8b26a;
}

.ldio-feb1eidkeg div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #abbd81;
}

.loadingio-spinner-spinner-uz19ut8xbi {
    width: 105px;
    height: 105px;
    display: none;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    overflow: hidden;
}

.ldio-feb1eidkeg {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-feb1eidkeg div {
    box-sizing: content-box;
}